.navbar-container {
  border-bottom: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.navbar-item {
  display: inline;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 8px;
  font-size: 25px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}